[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
gunicorn = "*"
flask-cors = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python run.py"
